[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
ujson = "*"
email-validator = "*"
requests = "*"
aiofiles = "*"
jinja2 = "*"
python-multipart = "*"
itsdangerous = "*"
graphene = "*"
pyyaml = "*"
orjson = "*"
alembic = "*"
pylint = "*"

[dev-packages]

[requires]
python_version = "3.9"
